  body {
  background: #191919;
}

.item {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1em;
  border-radius: 20px;
}

#all{
    visibility: hidden;
}

#btn {
    padding: 10px ;
    background: linear-gradient(#ec0505, #fc0abf);
    border: 0px solid;
    border-radius: 2px;
    color:white;
    width: 200px;
  }

.item-1 {
  transform-origin: 0% 0%;
  transform: rotate(3.6deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 1.45s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-2 {
  transform-origin: 0% 0%;
  transform: rotate(7.2deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.65s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-3 {
  transform-origin: 0% 0%;
  transform: rotate(10.8deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.4s;
  background: linear-gradient(#ec0505, #c407c4);
}

.item-4 {
  transform-origin: 0% 0%;
  transform: rotate(14.4deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.8s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-5 {
  transform-origin: 0% 0%;
  transform: rotate(18deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.3s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-6 {
  transform-origin: 0% 0%;
  transform: rotate(21.6deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.1s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-7 {
  transform-origin: 0% 0%;
  transform: rotate(25.2deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 1.4s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-8 {
  transform-origin: 0% 0%;
  transform: rotate(28.8deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.85s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-9 {
  transform-origin: 0% 0%;
  transform: rotate(32.4deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 1.35s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-10 {
  transform-origin: 0% 0%;
  transform: rotate(36deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 1.3s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-11 {
  transform-origin: 0% 0%;
  transform: rotate(39.6deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.55s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-12 {
  transform-origin: 0% 0%;
  transform: rotate(43.2deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.1s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-13 {
  transform-origin: 0% 0%;
  transform: rotate(46.8deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.6s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-14 {
  transform-origin: 0% 0%;
  transform: rotate(50.4deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.45s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-15 {
  transform-origin: 0% 0%;
  transform: rotate(54deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.25s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-16 {
  transform-origin: 0% 0%;
  transform: rotate(57.6deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.35s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-17 {
  transform-origin: 0% 0%;
  transform: rotate(61.2deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.6s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-18 {
  transform-origin: 0% 0%;
  transform: rotate(64.8deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.9s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-19 {
  transform-origin: 0% 0%;
  transform: rotate(68.4deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.8s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-20 {
  transform-origin: 0% 0%;
  transform: rotate(72deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.75s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-21 {
  transform-origin: 0% 0%;
  transform: rotate(75.6deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.4s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-22 {
  transform-origin: 0% 0%;
  transform: rotate(79.2deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.15s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-23 {
  transform-origin: 0% 0%;
  transform: rotate(82.8deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.9s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-24 {
  transform-origin: 0% 0%;
  transform: rotate(86.4deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.35s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-25 {
  transform-origin: 0% 0%;
  transform: rotate(90deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.95s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-26 {
  transform-origin: 0% 0%;
  transform: rotate(93.6deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.35s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-27 {
  transform-origin: 0% 0%;
  transform: rotate(97.2deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.95s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-28 {
  transform-origin: 0% 0%;
  transform: rotate(100.8deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.35s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-29 {
  transform-origin: 0% 0%;
  transform: rotate(104.4deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.2s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-30 {
  transform-origin: 0% 0%;
  transform: rotate(108deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.55s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-31 {
  transform-origin: 0% 0%;
  transform: rotate(111.6deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.4s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-32 {
  transform-origin: 0% 0%;
  transform: rotate(115.2deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.25s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-33 {
  transform-origin: 0% 0%;
  transform: rotate(118.8deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.45s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-34 {
  transform-origin: 0% 0%;
  transform: rotate(122.4deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.9s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-35 {
  transform-origin: 0% 0%;
  transform: rotate(126deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.7s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-36 {
  transform-origin: 0% 0%;
  transform: rotate(129.6deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.95s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-37 {
  transform-origin: 0% 0%;
  transform: rotate(133.2deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 1.25s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-38 {
  transform-origin: 0% 0%;
  transform: rotate(136.8deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.7s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-39 {
  transform-origin: 0% 0%;
  transform: rotate(140.4deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.65s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-40 {
  transform-origin: 0% 0%;
  transform: rotate(144deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.55s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-41 {
  transform-origin: 0% 0%;
  transform: rotate(147.6deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.15s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-42 {
  transform-origin: 0% 0%;
  transform: rotate(151.2deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.1s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-43 {
  transform-origin: 0% 0%;
  transform: rotate(154.8deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.1s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-44 {
  transform-origin: 0% 0%;
  transform: rotate(158.4deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 1.3s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-45 {
  transform-origin: 0% 0%;
  transform: rotate(162deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.75s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-46 {
  transform-origin: 0% 0%;
  transform: rotate(165.6deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.15s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-47 {
  transform-origin: 0% 0%;
  transform: rotate(169.2deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 1.35s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-48 {
  transform-origin: 0% 0%;
  transform: rotate(172.8deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 1.3s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-49 {
  transform-origin: 0% 0%;
  transform: rotate(176.4deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.6s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-50 {
  transform-origin: 0% 0%;
  transform: rotate(180deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.05s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-51 {
  transform-origin: 0% 0%;
  transform: rotate(183.6deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 1.25s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-52 {
  transform-origin: 0% 0%;
  transform: rotate(187.2deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.85s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-53 {
  transform-origin: 0% 0%;
  transform: rotate(190.8deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 1.15s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-54 {
  transform-origin: 0% 0%;
  transform: rotate(194.4deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.45s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-55 {
  transform-origin: 0% 0%;
  transform: rotate(198deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.9s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-56 {
  transform-origin: 0% 0%;
  transform: rotate(201.6deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.25s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-57 {
  transform-origin: 0% 0%;
  transform: rotate(205.2deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 1.15s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-58 {
  transform-origin: 0% 0%;
  transform: rotate(208.8deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.35s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-59 {
  transform-origin: 0% 0%;
  transform: rotate(212.4deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.9s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-60 {
  transform-origin: 0% 0%;
  transform: rotate(216deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.35s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-61 {
  transform-origin: 0% 0%;
  transform: rotate(219.6deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.45s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-62 {
  transform-origin: 0% 0%;
  transform: rotate(223.2deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.7s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-63 {
  transform-origin: 0% 0%;
  transform: rotate(226.8deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.4s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-64 {
  transform-origin: 0% 0%;
  transform: rotate(230.4deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.55s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-65 {
  transform-origin: 0% 0%;
  transform: rotate(234deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 1.35s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-66 {
  transform-origin: 0% 0%;
  transform: rotate(237.6deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 1.35s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-67 {
  transform-origin: 0% 0%;
  transform: rotate(241.2deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 1.25s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-68 {
  transform-origin: 0% 0%;
  transform: rotate(244.8deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.95s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-69 {
  transform-origin: 0% 0%;
  transform: rotate(248.4deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.3s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-70 {
  transform-origin: 0% 0%;
  transform: rotate(252deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.85s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-71 {
  transform-origin: 0% 0%;
  transform: rotate(255.6deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.3s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-72 {
  transform-origin: 0% 0%;
  transform: rotate(259.2deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.75s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-73 {
  transform-origin: 0% 0%;
  transform: rotate(262.8deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 1.15s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-74 {
  transform-origin: 0% 0%;
  transform: rotate(266.4deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.7s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-75 {
  transform-origin: 0% 0%;
  transform: rotate(270deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 1.05s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-76 {
  transform-origin: 0% 0%;
  transform: rotate(273.6deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.15s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-77 {
  transform-origin: 0% 0%;
  transform: rotate(277.2deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 1.4s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-78 {
  transform-origin: 0% 0%;
  transform: rotate(280.8deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.35s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-79 {
  transform-origin: 0% 0%;
  transform: rotate(284.4deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 1.15s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-80 {
  transform-origin: 0% 0%;
  transform: rotate(288deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 1.15s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-81 {
  transform-origin: 0% 0%;
  transform: rotate(291.6deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 1.5s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-82 {
  transform-origin: 0% 0%;
  transform: rotate(295.2deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.1s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-83 {
  transform-origin: 0% 0%;
  transform: rotate(298.8deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 1.45s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-84 {
  transform-origin: 0% 0%;
  transform: rotate(302.4deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 1.5s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-85 {
  transform-origin: 0% 0%;
  transform: rotate(306deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 1.5s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-86 {
  transform-origin: 0% 0%;
  transform: rotate(309.6deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.5s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-87 {
  transform-origin: 0% 0%;
  transform: rotate(313.2deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.45s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-88 {
  transform-origin: 0% 0%;
  transform: rotate(316.8deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 1s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-89 {
  transform-origin: 0% 0%;
  transform: rotate(320.4deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.6s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-90 {
  transform-origin: 0% 0%;
  transform: rotate(324deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.45s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-91 {
  transform-origin: 0% 0%;
  transform: rotate(327.6deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.65s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-92 {
  transform-origin: 0% 0%;
  transform: rotate(331.2deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.6s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-93 {
  transform-origin: 0% 0%;
  transform: rotate(334.8deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 1.45s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-94 {
  transform-origin: 0% 0%;
  transform: rotate(338.4deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 1.5s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-95 {
  transform-origin: 0% 0%;
  transform: rotate(342deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.85s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-96 {
  transform-origin: 0% 0%;
  transform: rotate(345.6deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.75s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-97 {
  transform-origin: 0% 0%;
  transform: rotate(349.2deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 1.25s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-98 {
  transform-origin: 0% 0%;
  transform: rotate(352.8deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 0.5s;
  background: linear-gradient(#ec0505, #fc0afc);
}

.item-99 {
  transform-origin: 0% 0%;
  transform: rotate(356.4deg) translate(0.3em, 6em);
  width: 2px;
  animation: music 1s backwards infinite;
  animation-delay: 1.4s;
  background: linear-gradient(#ec0505, #fc0afc);
}

@keyframes music {
  0% {
    height: 10px;
    opacity: 0;
  }
  50% {
    height: 1px;
    opacity: 1;
  }
  100% {
    height: 20px;
    opacity: 1;
  }
}

.item-01 {
    transform-origin: 0% 0%;
    transform: rotate(3.6deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 1.45s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-02 {
    transform-origin: 0% 0%;
    transform: rotate(7.2deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.65s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-03 {
    transform-origin: 0% 0%;
    transform: rotate(10.8deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.4s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-04 {
    transform-origin: 0% 0%;
    transform: rotate(14.4deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.8s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-05 {
    transform-origin: 0% 0%;
    transform: rotate(18deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.3s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-06 {
    transform-origin: 0% 0%;
    transform: rotate(21.6deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.1s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-07 {
    transform-origin: 0% 0%;
    transform: rotate(25.2deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 1.4s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-08 {
    transform-origin: 0% 0%;
    transform: rotate(28.8deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.85s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-09 {
    transform-origin: 0% 0%;
    transform: rotate(32.4deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 1.35s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-010 {
    transform-origin: 0% 0%;
    transform: rotate(36deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 1.3s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-011 {
    transform-origin: 0% 0%;
    transform: rotate(39.6deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.55s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-012 {
    transform-origin: 0% 0%;
    transform: rotate(43.2deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.1s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-013 {
    transform-origin: 0% 0%;
    transform: rotate(46.8deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.6s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-014 {
    transform-origin: 0% 0%;
    transform: rotate(50.4deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.45s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-015 {
    transform-origin: 0% 0%;
    transform: rotate(54deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.25s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-016 {
    transform-origin: 0% 0%;
    transform: rotate(57.6deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.35s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-017 {
    transform-origin: 0% 0%;
    transform: rotate(61.2deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.6s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-018 {
    transform-origin: 0% 0%;
    transform: rotate(64.8deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.9s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-019 {
    transform-origin: 0% 0%;
    transform: rotate(68.4deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.8s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-020 {
    transform-origin: 0% 0%;
    transform: rotate(72deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.75s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-021 {
    transform-origin: 0% 0%;
    transform: rotate(75.6deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.4s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-022 {
    transform-origin: 0% 0%;
    transform: rotate(79.2deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.15s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-023 {
    transform-origin: 0% 0%;
    transform: rotate(82.8deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.9s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-024 {
    transform-origin: 0% 0%;
    transform: rotate(86.4deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.35s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-025 {
    transform-origin: 0% 0%;
    transform: rotate(90deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.95s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-026 {
    transform-origin: 0% 0%;
    transform: rotate(93.6deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.35s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-027 {
    transform-origin: 0% 0%;
    transform: rotate(97.2deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.95s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-028 {
    transform-origin: 0% 0%;
    transform: rotate(100.8deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.35s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-029 {
    transform-origin: 0% 0%;
    transform: rotate(104.4deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.2s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-030 {
    transform-origin: 0% 0%;
    transform: rotate(108deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.55s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-031 {
    transform-origin: 0% 0%;
    transform: rotate(111.6deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.4s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-032 {
    transform-origin: 0% 0%;
    transform: rotate(115.2deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.25s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-033 {
    transform-origin: 0% 0%;
    transform: rotate(118.8deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.45s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-034 {
    transform-origin: 0% 0%;
    transform: rotate(122.4deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.9s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-035 {
    transform-origin: 0% 0%;
    transform: rotate(126deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.7s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-036 {
    transform-origin: 0% 0%;
    transform: rotate(129.6deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.95s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-037 {
    transform-origin: 0% 0%;
    transform: rotate(133.2deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 1.25s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-038 {
    transform-origin: 0% 0%;
    transform: rotate(136.8deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.7s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-039 {
    transform-origin: 0% 0%;
    transform: rotate(140.4deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.65s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-040 {
    transform-origin: 0% 0%;
    transform: rotate(144deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.55s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-041 {
    transform-origin: 0% 0%;
    transform: rotate(147.6deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.15s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-042 {
    transform-origin: 0% 0%;
    transform: rotate(151.2deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.1s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-043 {
    transform-origin: 0% 0%;
    transform: rotate(154.8deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.1s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-044 {
    transform-origin: 0% 0%;
    transform: rotate(158.4deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 1.3s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-045 {
    transform-origin: 0% 0%;
    transform: rotate(162deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.75s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-046 {
    transform-origin: 0% 0%;
    transform: rotate(165.6deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.15s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-047 {
    transform-origin: 0% 0%;
    transform: rotate(169.2deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 1.35s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-048 {
    transform-origin: 0% 0%;
    transform: rotate(172.8deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 1.3s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-049 {
    transform-origin: 0% 0%;
    transform: rotate(176.4deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.6s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-050 {
    transform-origin: 0% 0%;
    transform: rotate(180deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.05s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-051 {
    transform-origin: 0% 0%;
    transform: rotate(183.6deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 1.25s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-052 {
    transform-origin: 0% 0%;
    transform: rotate(187.2deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.85s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-053 {
    transform-origin: 0% 0%;
    transform: rotate(190.8deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 1.15s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-054 {
    transform-origin: 0% 0%;
    transform: rotate(194.4deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.45s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-055 {
    transform-origin: 0% 0%;
    transform: rotate(198deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.9s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-056 {
    transform-origin: 0% 0%;
    transform: rotate(201.6deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.25s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-057 {
    transform-origin: 0% 0%;
    transform: rotate(205.2deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 1.15s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-058 {
    transform-origin: 0% 0%;
    transform: rotate(208.8deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.35s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-059 {
    transform-origin: 0% 0%;
    transform: rotate(212.4deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.9s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-060 {
    transform-origin: 0% 0%;
    transform: rotate(216deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.35s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-061 {
    transform-origin: 0% 0%;
    transform: rotate(219.6deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.45s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-062 {
    transform-origin: 0% 0%;
    transform: rotate(223.2deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.7s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-063 {
    transform-origin: 0% 0%;
    transform: rotate(226.8deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.4s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-064 {
    transform-origin: 0% 0%;
    transform: rotate(230.4deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.55s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-065 {
    transform-origin: 0% 0%;
    transform: rotate(234deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 1.35s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-066 {
    transform-origin: 0% 0%;
    transform: rotate(237.6deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 1.35s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-067 {
    transform-origin: 0% 0%;
    transform: rotate(241.2deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 1.25s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-068 {
    transform-origin: 0% 0%;
    transform: rotate(244.8deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.95s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-069 {
    transform-origin: 0% 0%;
    transform: rotate(248.4deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.3s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-070 {
    transform-origin: 0% 0%;
    transform: rotate(252deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.85s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-071 {
    transform-origin: 0% 0%;
    transform: rotate(255.6deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.3s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-072 {
    transform-origin: 0% 0%;
    transform: rotate(259.2deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.75s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-073 {
    transform-origin: 0% 0%;
    transform: rotate(262.8deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 1.15s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-074 {
    transform-origin: 0% 0%;
    transform: rotate(266.4deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.7s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-075 {
    transform-origin: 0% 0%;
    transform: rotate(270deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 1.05s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-076 {
    transform-origin: 0% 0%;
    transform: rotate(273.6deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.15s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-077 {
    transform-origin: 0% 0%;
    transform: rotate(277.2deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 1.4s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-078 {
    transform-origin: 0% 0%;
    transform: rotate(280.8deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.35s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-079 {
    transform-origin: 0% 0%;
    transform: rotate(284.4deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 1.15s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-080 {
    transform-origin: 0% 0%;
    transform: rotate(288deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 1.15s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-081 {
    transform-origin: 0% 0%;
    transform: rotate(291.6deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 1.5s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-082 {
    transform-origin: 0% 0%;
    transform: rotate(295.2deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.1s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-083 {
    transform-origin: 0% 0%;
    transform: rotate(298.8deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 1.45s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-084 {
    transform-origin: 0% 0%;
    transform: rotate(302.4deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 1.5s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-085 {
    transform-origin: 0% 0%;
    transform: rotate(306deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 1.5s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-086 {
    transform-origin: 0% 0%;
    transform: rotate(309.6deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.5s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-087 {
    transform-origin: 0% 0%;
    transform: rotate(313.2deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.45s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-088 {
    transform-origin: 0% 0%;
    transform: rotate(316.8deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 1s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-089 {
    transform-origin: 0% 0%;
    transform: rotate(320.4deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.6s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-090 {
    transform-origin: 0% 0%;
    transform: rotate(324deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.45s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-091 {
    transform-origin: 0% 0%;
    transform: rotate(327.6deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.65s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-092 {
    transform-origin: 0% 0%;
    transform: rotate(331.2deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.6s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-093 {
    transform-origin: 0% 0%;
    transform: rotate(334.8deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 1.45s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-094 {
    transform-origin: 0% 0%;
    transform: rotate(338.4deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 1.5s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-095 {
    transform-origin: 0% 0%;
    transform: rotate(342deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.85s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-096 {
    transform-origin: 0% 0%;
    transform: rotate(345.6deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.75s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-097 {
    transform-origin: 0% 0%;
    transform: rotate(349.2deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 1.25s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-098 {
    transform-origin: 0% 0%;
    transform: rotate(352.8deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 0.5s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  .item-099 {
    transform-origin: 0% 0%;
    transform: rotate(356.4deg) translate(0.3em, 6em);
    width: 2px;
    animation: musicc 1s backwards infinite;
    animation-delay: 1.4s;
    background: linear-gradient(#ec0505, #fc0afc);
  }
  
  @keyframes musicc {
    0% {
      height: 10px;
      opacity: 0;
    }
    50% {
      height: 1px;
      opacity: 1;
    }
  }